<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Stub DAOs: in-memory, no file access -->
    <bean id="orderDao"
          class="flooringmastery.dao.FlooringMasteryOrderDaoStubImpl"/>

    <bean id="taxesDao"
          class="flooringmastery.dao.FlooringMasteryTaxesDaoStubImpl"/>

    <bean id="productDao"
          class="flooringmastery.dao.FlooringMasteryProductDaoStubImpl"/>

    <!-- Service wired with the stubs. Constructor order: order, taxes, product -->
    <bean id="serviceLayer"
          class="flooringmastery.service.FlooringMasteryServiceLayerImpl">
        <constructor-arg ref="orderDao"/>
        <constructor-arg ref="taxesDao"/>
        <constructor-arg ref="productDao"/>
    </bean>

</beans>
